<% layout("boilerplate.ejs")  %>

<footer style="margin-bottom: 10px; text-align: center;">
        <h1>404 Error: This page does not exist <%= invalidURL %></h1>
        <a class="btn btn-success btn-lg col-4" href="/hotels">🔙Back To All Hotels</a>
    </footer>



<div style="text-align: center; margin-bottom: 10px;">
<img src="404.jpg" style="pointer-events: none; width: 80%;">
</div>




