<html>
    <body>
        <form action="/check" method="post" enctype="multipart/form-data">
            <input type="text" name="title" id="title" required>
            <input type="text" name="location" id="location" required>
            <input type="file" name="image" id="image" required>
            
            <input type="text" name="price" id="price" required>
            <textarea type="text" name="description" id="description" rows="5" required></textarea>
            <button>Add This New Hotel</button>
        </form>
    </body>
</html>