<% layout("boilerplate.ejs")  %>







<div class="col-4 offset-3">
    <h1><%= msg %></h1>
    <form action="/hotels/login" method="post" novalidate class="needs-validation">

        <div class="mb-3">
            <label class="form-label" for="password">Enter your password here:</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <div class="valid-feedback">Looks good!</div>
        </div>


        <div class="mb-3">
            <button class="btn btn-success offset-5">Sign In</button>
        </div>
    </form>

   
</div>